go 1.19

use (
	.
	./camel-k
	./camel-k/pkg/apis/camel
	./camel-k/pkg/client/camel
	./camel-k/pkg/kamelet/repository
	./controller-runtime
)

replace (
	github.com/apache/camel-k v1.12.0 => ./camel-k
	github.com/apache/camel-k/pkg/apis/camel v1.12.0 => ./camel-k/pkg/apis/camel
	github.com/apache/camel-k/pkg/client/camel v1.12.0 => ./camel-k/pkg/client/camel
	github.com/apache/camel-k/pkg/kamelet/repository v1.12.0 => ./camel-k/pkg/kamelet/repository
)
